/*FONTS*/
@font-face {
    font-family: inria-sans;
    src: url(../Assets/ttf/inria-sans.bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: inria-sans-regular;
    src: url(../Assets/ttf/inria-sans.regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: inria-sans-light;
    src: url(../Assets/ttf/inria-sans.light.ttf);
    font-weight: lighter;
}

@import './views/Index.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './utils/variables'