/* SKILL-PAGE-MAIN */
.title-page {
    margin-top: 10%;
    padding: 1rem 2rem;
    font-family: "inria-sans";
}
  
.skill-defined {
    display: flex;
    font-family: "inria-sans-regular";
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
  
    &-box {
      width: 30%;
      height: 40%;
      background-color: #f5f5f5;
      border: 2px solid #f5f5f5;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 0px #9e9696;
      padding: 3%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      text-align: center;
  
      img {
        width: 100%;
      }
  
      h1.carousel-ux-ui {
        font-family: "inria-sans-regular";
        font-size: 20px;
      }
    }
  
    p {
      text-align: right;
      width: 50%;
    }
}
  

@media (max-width: 850px) {
    /* SKILL-PAGE-MAIN-IPAD */
    .title-page {
        margin-top: 13%;
    }
}

@media (max-width: 630px) {

    /* SKILL-PAGE-MAIN-IPAD-small */
    .title-page {
        margin-top: 15%;
    }
}

@media (max-width: 530px) {

    /* SKILL-PAGE-MAIN-MOBILE-big */
    .title-page {
        margin-top: 20%;
    }
}

@media (max-width: 450px) {

    /* SKILL-PAGE-MAIN-MOBILE */
    .title-page {
        margin-top: 22%;
    }
}